* {
	font-family: fira code, 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
	margin: 0;
	padding: 0;
}

.container {
	position: relative;
	background: url(img/guess.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 110%;
	max-width: 750px;
	min-width: 480px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 90vh;
}

header h1 {
	background-color: #ed1c24;
	text-align: center;
	color: #fff;
	font-size: 180%;
	width: 100%;
	padding: 4px;
}

.results-text {
	position: relative;
	font-size: 20px;
	margin: 4px;
	top: 0;
	left: 0;
}
.results-text p {
	margin-top: 6px;
}

#number-of-guess {
	background-color: #ed1c24;
	color: white;
	padding: 2px;
}

#guess {
	background-color: #23ed1c;
	font-size: 55px;
	color: #fff;
}

#result {
	background-color: #23ed1c;
	color: white;
	padding: 2px;
}

.guess-body {
	height: 320px;
	width: 640px;
}

.input-guess,
.submit-guess {
	border: 1px solid #000;
	background-color: #fff;
	text-align: center;
	color: #000;
	padding: 2px;
}

.input-guess {
	position: relative;
	width: 35%;
	height: 33px;
	font-size: 13px;
	margin-top: 15vh;
	margin-left: 411px;
	margin-right: auto;
}

.submit-guess {
	position: relative;
	font-size: 11px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: 11vh;
	margin-left: 369px;
	margin-right: auto;
}

#submit:hover,
#input-guess:hover {
	background-color: #a4faa1;
}

.msg-feedback {
	position: absolute;
	/* margin-left: auto;
	margin-right: auto; 
	text-align: center;*/
	left: 0;
	right: 0;
	bottom: 0;
}

#msg-feedback h1 {
	text-align: center;
	color: white;
	padding: 4px;
}

/* ----------- responsive design ----------- */

@media only screen and (min-device-width: 860px) and (max-width: 1100px) {
	.input-guess {
		width: 25%;
		height: 25px;
		margin-top: 15vh;
		margin-left: 25rem;
		margin-right: auto;
	}

	.submit-guess {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		margin-top: 11.4vh;
		margin-left: 20.6rem;
		margin-right: auto;
	}
}

@media screen and (max-width: 595px) {
	.input-guess {
		width: 20%;
		height: 19px;
		margin-top: 15vh;
		margin-left: 19rem;
		margin-right: auto;
	}

	.submit-guess {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		margin-top: 8.5vh;
		margin-left: 16rem;
		margin-right: auto;
	}
}
